

{% extends 'checkin/layout/base.html' %}
{% load static %}

{%  block head %}
    <title>Design Hub Check In System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}


{% block content %}


<ul class="messages">
    {% for message in messages %}
    <li{%  if message.tags %} class=" alert alert-{{ message.tags }} "{% endif %} role="alert">{{ message }}</li>
    {% endfor %}
</ul>

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-add-user-modal-lg">Add New
    Vistor</button>

<div class="modal fade bd-add-user-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}

                <form action="{% url 'checkin' %}" method="post">
                    {% csrf_token %}
                    {{addform}}
                    <br>
                    <div class="form-group">
                        <button type="submit" name="" id="" class="btn btn-primary">Add Vistor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />
{% if visitors_list %}
<div>

    <div  id="search-place" class="input-group mb-3">
        <input type="text" class="form-control" id="search-vistors" aria-label="Search Visitors Here" type="search"
            placeholder="Search Vistors Here">  
        <div class="input-group-append">
            <div class="input-group">
                <select  class="custom-select" id="search-form-input" name="searcg-form-input">
                    <option value="1" selected>Filter By (Name)</option>
                    <option value="2">Company</option>
                    <option value="3">Telphone Number</option>
                  </select>
            </div>
            <div class="input-group-text">
              <input id="search-unique-check-box" name="search-unique-check-box" type="checkbox" aria-label="Checkbox for following text input">
            </div>
            <span class="input-group-text" id="">Remove Duplicates</span>
          </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped" id="myUL">
            <tr class="thead-dark">
                <th>TIME IN</th>
                <th>Full Name</th>
                <th>Company Name</th>
                <th>Telephone Number</th>
                <th>Temperature</th>
                <th>Re Checkin</th>
            </tr>
            {% for visitor in visitors_list %}

            <tr id="user-{{visitor.visitor.id}}">
                <td>{{visitor.created_date}}</td>
                <td>{{visitor.visitor.name}}</td>
                <td>{{visitor.visitor.company}}</td>
                <td>{{visitor.visitor.telephone_number}}</td>
                <td>{{visitor.temperature}}</td>
                <td>
                    <form action="{% url 'recheckin' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="visitor_id" value="{{visitor.visitor.id}}">
                        <input required class="form-control" placeholder="New temperature" name="temp" size=3
                            type="number">
                        <button class="form-control btn btn-primary" type="submit">RE CHECKIN</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{% static 'js/table.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var search_input = document.querySelector('#search-place');
    addListenerMulti(search_input, 'keyup change', function () {
        refresh_page();
        });

    function refresh_page(){
        input = document.getElementById("search-vistors");
        ul = document.getElementById("myUL");
        var search_by = document.getElementById("search-form-input").value;
        var unique =document.getElementById("search-unique-check-box").checked
        search_table(ul,input.value,search_by,unique);
    }

    function search_table(table_selector,search_value,search_col,unique){
        rows =  table_selector.querySelectorAll('tr:not(:first-child)')
        rows.forEach(function (row, index){
            a = row.getElementsByTagName("td")[search_col];
            txtValue = a.innerText;
            
            if (txtValue.toUpperCase().indexOf(search_value.toUpperCase()) > -1) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }

            if(unique){
                remove_duplicates_row_in_table(row.id)
            }

        })
    }

    function remove_duplicates_row_in_table(id){
        $('tr#'+id+':not(tr#'+id+':first)').hide()
    }

    function show_duplicates_row_in_table(id){
        $('tr#'+id+':not(tr#'+id+':first)').show()
    }


/* Add one or more listeners to an element
** @param {DOMElement} element - DOM element to add listeners to
** @param {string} eventNames - space separated list of event names, e.g. 'click change'
** @param {Function} listener - function to attach for each event as a listener
*/
function addListenerMulti(element, eventNames, listener) {
  var events = eventNames.split(' ');
  for (var i=0, iLen=events.length; i<iLen; i++) {
    element.addEventListener(events[i], listener, false);
  }
}


})
</script>
{% endblock %}
