{% load static %}
<html>

<head>
{%  block head %}
{% endblock %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="container">
        <nav class=" navbar navbar-dark bg-dark page-header" >
            <h1><a href="/">DESIGN HUB CHECKIN</a></h1>
            <ul class="navbar-nav" >
                {% if user.is_authenticated %}
                    <li class="nav-item" ><a class="btn btn-danger" role="button" href="{% url 'logout' %}">Logout</a></li>
                {% endif%}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>


    {% block scripts %}
    {% endblock %}
</body>